<div class="card">
  <h5 class="card-header">Danh sách phường xã</h5>
  <div class="card-body">
   <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên phường xã</th>
    </tr>
  </thead>
  <tbody>
   {{#each wardList}}
        <tr>
            <th scope="row">{{this.IDPhuongXa}}</th>
            <th scope="row">{{this.Name}}</th>
        </tr>
   {{/each}}
  </tbody>
</table>
  </div>
</div>