<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">MSSV</th>
      <th scope="col">Họ tên</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1712519</td>
      <td>Phạm Võ Hoàng Khang</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>1712503</td>
      <td>Từ Do Diệu Huy</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>1712376</td>
      <td>Phạm Nguyễn Hải Dương</td>
    </tr>

     <tr>
      <th scope="row">4</th>
      <td>1712436</td>
      <td>Lê Văn Hiếu</td>
    </tr>

    <tr>
      <th scope="row">5</th>
      <td>1612654 </td>
      <td>Trần Minh Thiện</td>
    </tr>
  </tbody>
</table>