<div>
  <h5 class="card-header d-flex justify-content-between">
    <p>Danh sách sản phẩm</p>
    <a name="" id="" class="btn btn-outline-success" href="/admin/sp/add" role="button">
      <i class="fas fa-plus"></i>
      Thêm mới
    </a>
    <a name="" id="" class="btn btn-outline-success" href="/admin/sp/sub" role="button">
      <i class="fas fa-minus"></i>
      Xóa
    </a>
    <a name="" id="" class="btn btn-outline-success" href="/admin/sp/edit" role="button">
      <i class="fas fa-tools"></i>
      Chỉnh sửa
    </a>
  </h5>
  Search
</div>

<div class="row">
  {{#each spList}}
  <div class="col-sm-4">
    <div class="card h-100">
      <img src="/public/image/product/{{this.IDSanPham}}/main.jpeg" class="card-img-top">
      <h5 class="card-title">{{this.TenSanPham}}</h5>
      <h5 class="card-footer">{{this.GiaTien}}/{{this.DonViDinhLuong}}</h5>
    </div>
  </div>
  {{/each}}


</div>
  <p class="card-text"></p>
  <a href="#" class="btn btn-primary">Đầu trang</a>