<div>
  <h5 class="card-header d-flex justify-content-between">
    <p>Danh sách sản phẩm</p>
  </h5>
</div>



<div class="card">
    <div class="card-header">
      Search
    </div>
    <div class="card-body">
      <div class="row">
        {{#each spList}}
        <div class="col-sm-4">
          <div class="card h-100">
            <img src="/public/image/product/{{this.IDSanPham}}/main.jpeg" class="card-img-top">
            <h5 class="card-title">{{this.TenSanPham}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{this.GiaTien}}/{{this.DonViDinhLuong}}</h6>
          </div>
        </div>
        {{/each}}
      </div>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Đầu trang</a>
    </div>
  
</div>