<div>
  <h5 class="card-header d-flex justify-content-between">
    <p>Danh sách sản ph</p>
    <a name="" id="" class="btn btn-outline-success" href="/admin/users/add" role="button">
      <i class="fas fa-plus"></i>
      Thêm mới
    </a>
  </h5>
</div>



<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <div class="row">
      {{#each spList}}
          <div class="col-sm-4">
              <div class="card h-100">
                        <img src="/public/image/product/{{this.IDSanPham}}/main.jpeg">
                        <h5 >{{this.TenSanPham}}</h5>
                        <h5 >{{this.GiaTien}}</h5>
                        <h5 >{{this.DonViDinhLuong}}</h5>
              </div>

          </div>


      {{/each}}
    </div>

    <p class="card-text"></p>
    <a href="#" class="btn btn-primary"></a>
  </div>
</div>