<div class="card">
  <h5 class="card-header">Danh sách sản phẩm</h5>
  <div class="card-body">
   <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên gói</th>
      <th scope="col">Mức giới hạn cho một người</th>
      <th scope="col">Thời gian giới hạn</th>
    </tr>
  </thead>
  <tbody>
   {{#each packageList}}
        <tr>
            <th scope="row">{{this.IDGoi}}</th>
            <th scope="row">{{this.TenGoi}}</th>
            <th scope="row">{{this.MucGioiHanGoiChoMotNguoi}}</th>
            <th scope="row">{{dateFormat this.ThoiGianGioiHan}}</th>
        </tr>
   {{/each}}
  </tbody>
</table>
  </div>
</div>