
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 shadow">

 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml_max">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fa fa-home" aria-hidden="true"></i>
          Home 
          <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-auto">
      <input class="form-control mr-sm-2" id="myInput" type="search" onkeyup="myFunction()" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {{!--  --}}
    <ul class="navbar-nav mr_max">
     {{#if lcIsAuthenticated}}
         <li class="nav-item dropdown parent">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i>
          Welcome 
          {{#if isAdmin}}
              Admin
          {{/if}}

          {{#if isManager}}
              Manager
          {{/if}}

           {{#if isEndUser}}
              {{lcAuthUser.Ten}}
          {{/if}}
          
        </a>
        <div class="dropdown-menu child" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/authentication/profile">Thông tin cá nhân</a>
          <div class="dropdown-divider"></div>
          <form action="/authentication/logout" method="POST">
            <button class="dropdown-item">Logout</button>
          </form>
        </div>
      </li>
     {{else}}
            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary" href="/authentication/login">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Login
                </a>
            </li>
     {{/if}}
    
     
     
    </ul>
  </div>
</nav>
<script>
  function myFunction() {
  var input, filter, table, tr, td, cell, i, j;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    tr[i].style.display = "none";
    th = tr[i].getElementsByTagName("th");
    for (var j = 0; j < th.length; j++) {
      cell = tr[i].getElementsByTagName("th")[j];
      if (cell) {
        if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break;
        } 
      }
    }
  }
}
</script>