<div class="card">
  <h5 class="card-header d-flex justify-content-between">
    <p>Thêm mới địa điểm cách ly</p>
    </h5>
  <div class="card-body">
    <form method="POST">
        <div class="form-group">
          <label for="NameID">Tên địa điểm</label>
          <input type="text" name="Name" class="form-control" id="NameID" >
        </div>
         <div class="form-group">
          <label for="SucChuaID">Sức chứa</label>
          <input type="number" name="SucChua" class="form-control" id="SucChuaID" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
   
   </div>
</div>