<div class="card">
  <h5 class="card-header">Thêm mới người liên quan COVID</h5>
  <div class="card-body">
        <form method="post">
          <div class="form-group">
              <label for="cmndID" >CMND</label>
              <input type="text" name="CMND" autofocus class="form-control" id="cmndID">
          </div>
          <div class="form-group">
              <label for="tenID">Họ và tên</label>
              <input type="text" name="Ten" class="form-control" id="tenID">
          </div>
           <div class="form-group">
              <label for="namsinhID">Năm sinh</label>
              <input type="number" name="NamSinh" class="form-control" id="namsinhID">
          </div>
          <div class="form-group">
              <label for="diachiID">Địa chỉ</label>
              <input type="text" name="DiaChi" class="form-control" id="diachiID">
          </div>
          
       
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>